{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Records
{% endblock %}


{% block body %}
{% csrf_token %}
<div class="container">
    <h3>Patient Record</h3>
    <div class="position">
        <form>
            <label for="myfile">Select the patient file :</label>
            <input type="file" id="myfile" name="myfile"><br><br>
            <button class="btn btn-primary" type="submit" id="submit-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

</html>