.position {
    height: 20vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    font-size: 20px;
    text-align: center;
    margin-top: 40vh;
}

.not-visible {
    display: none !important;
}

.myspinner {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mybutton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    margin-bottom: 20px !important;
}

h2 {
    margin-top: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    text-align: center;
}

#submit-button {
    margin-top: 10px;
}

.ui.container {
    margin-top: 50px;
}